.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 200px;
  left: 250px;
}

.logo {
  color: #ffffff70;
  font-size: 45px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border: 0;
  text-decoration: none;
  transition: all 400ms cubic-bezier(1, -0.56, .32, -0.71);
  &:hover {
  color: #251a7af1;
  border-bottom: 2px solid #ffffff70;   
  }
} 

.links {
  color: #ffffff70;
  font-size: 45px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
  }
}

.logout {
cursor: pointer;
transition: all 400ms cubic-bezier(1, -0.56, .32, -0.71);

  &:hover {
    color: #251a7af1;
    border-bottom: 2px solid #ffffff70;
  }
}